<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Quản lý sản phẩm</title>
	<!-- plugins:css -->
	<link rel="stylesheet" th:href="@{/adminvendors/mdi/css/materialdesignicons.min.css}"
	      href="../../static/adminvendors/mdi/css/materialdesignicons.min.css">
	<link rel="stylesheet" th:href="@{/adminvendors/base/vendor.bundle.base.css}"
	      href="../../static/adminvendors/base/vendor.bundle.base.css">
	<!-- endinject -->
	<!-- plugin css for this page -->
	<link rel="stylesheet" th:href="@{/adminvendors/datatables.net-bs4/dataTables.bootstrap4.css}"
	      href="../../static/adminvendors/datatables.net-bs4/dataTables.bootstrap4.css">
	<!-- End plugin css for this page -->
	<!-- inject:css -->
	<link rel="stylesheet" th:href="@{/admincss/style.css}" href="../../static/admincss/style.css">
	<link rel="stylesheet" th:href="@{/css/form-img.css}" href="../../static/css/form-img.css">
	<!-- endinject -->
	<link rel="shortcut icon" th:href="@{/img/favicon.png}" href="../../static/img/favicon.png" />
	<script src="../../../../static/js/jquery-1.12.1.min.js"></script>
</head>

<body>
<div class="container-scroller">
	<!-- partial:partials/_navbar.html -->
	<nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
		<div class="navbar-brand-wrapper d-flex justify-content-center">
			<div class="navbar-brand-inner-wrapper d-flex justify-content-between align-items-center w-100">
				<a class="navbar-brand brand-logo" th:href="@{/}" href="dashboard.html"><img
					th:src="@{/img/asset/brandblack.png}" src="../../static/img/asset/brandblack.png" alt="logo" /></a>
				<a class="navbar-brand brand-logo-mini" th:href="@{/}" href="dashboard.html"><img
					th:src="@{/img/asset/logoblack.png}" src="../../static/img/asset/logoblack.png" alt="logo" /></a>
				<button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
					<span class="mdi mdi-sort-variant"></span>
				</button>
			</div>
		</div>
		<div class="navbar-menu-wrapper d-flex align-items-center justify-content-end">
			<ul class="navbar-nav navbar-nav-right">
				<li class="nav-item dropdown mr-4">
					<a class="nav-link count-indicator dropdown-toggle d-flex align-items-center justify-content-center notification-dropdown"
					   id="notificationDropdown" href="#" data-toggle="dropdown">
						<i class="mdi mdi-bell mx-0"></i>
						<span class="count"></span>
					</a>
					<div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="notificationDropdown">
						<p class="mb-0 font-weight-normal float-left dropdown-header">Thông báo</p>
						<a class="dropdown-item">
							<div class="item-thumbnail">
								<div class="item-icon bg-success">
									<i class="mdi mdi-information mx-0"></i>
								</div>
							</div>
							<div class="item-content">
								<h6 class="font-weight-normal">Application Error</h6>
								<p class="font-weight-light small-text mb-0 text-muted">
									Just now
								</p>
							</div>
						</a>
						<a class="dropdown-item">
							<div class="item-thumbnail">
								<div class="item-icon bg-warning">
									<i class="mdi mdi-settings mx-0"></i>
								</div>
							</div>
							<div class="item-content">
								<h6 class="font-weight-normal">Settings</h6>
								<p class="font-weight-light small-text mb-0 text-muted">
									Private message
								</p>
							</div>
						</a>
						<a class="dropdown-item">
							<div class="item-thumbnail">
								<div class="item-icon bg-info">
									<i class="mdi mdi-account-box mx-0"></i>
								</div>
							</div>
							<div class="item-content">
								<h6 class="font-weight-normal">New user registration</h6>
								<p class="font-weight-light small-text mb-0 text-muted">
									2 days ago
								</p>
							</div>
						</a>
					</div>
				</li>
				<li class="nav-item nav-profile dropdown">
					<a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" id="profileDropdown">
						<span class="nav-profile-name"><span th:text="${#authentication.getPrincipal().getFullName()}"></span></span>
					</a>
					<div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="profileDropdown">
						<a class="dropdown-item"th:href="@{/logout}">
							<i class="mdi mdi-logout text-primary"></i>
							Đăng xuất
						</a><a class="dropdown-item"th:href="@{/admin/map}">
						<i class="mdi mdi-logout text-primary"></i>
						Theo dõi đơn hàng
					</a>
					</div>
				</li>
			</ul>
			<button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button"
			        data-toggle="offcanvas">
				<span class="mdi mdi-menu"></span>
			</button>
		</div>
	</nav>
	<!-- partial -->
	<div class="container-fluid page-body-wrapper">
		<!-- partial:partials/_sidebar.html -->
		<nav class="sidebar sidebar-offcanvas" id="sidebar">
			<ul class="nav">
				<li class="nav-item">
					<a class="nav-link" th:href="@{/admin/dashboard}" href="dashboard.html">
						<i class="mdi mdi mdi-store menu-icon"></i>
						<span class="menu-title">Bảng tin</span>
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" th:href="@{/admin/categories}" href="categories.html">
						<i class="mdi mdi-view-dashboard menu-icon"></i>
						<span class="menu-title">Hệ điều hành</span>
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" th:href="@{/admin/products}" href="products.html">
						<i class="mdi mdi-format-list-bulleted-type menu-icon"></i>
						<span class="menu-title">Sản phẩm</span>
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" th:href="@{/admin/customers}" href="customers.html">
						<i class="mdi mdi-account-settings menu-icon"></i>
						<span class="menu-title">Khách hàng</span>
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" th:href="@{/admin/orders}" href="orders.html">
						<i class="mdi mdi mdi-fax menu-icon"></i>
						<span class="menu-title">Đơn hàng</span>
					</a>
				</li>
			</ul>
		</nav>
		<!-- partial -->
		<div class="main-panel">
			<div class="content-wrapper">
				<div class="row">
					<div class="col-md-12 grid-margin">
						<div class="d-flex justify-content-between flex-wrap">
							<div class="d-flex align-items-end flex-wrap">
								<div class="mr-md-3 mr-xl-5">
									<h2>
										Chào mừng bạn đã trở lại,
										<span th:text="${#authentication.getPrincipal().getFullName()}"></span>
									</h2>
								</div>
								<div class="d-flex">
									<i class="mdi mdi-home text-muted hover-cursor"></i>
									<p class="text-muted mb-0 hover-cursor">&nbsp;/&nbsp;Admin&nbsp;/&nbsp;
									</p>
									<p class="text-primary mb-0 hover-cursor">Quản lý sản phẩm</p>
								</div>
							</div>
							<div class="d-flex justify-content-between align-items-end flex-wrap">
								<button class="btn btn-info mt-2 mt-xl-0">Tải báo cáo</button>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12 stretch-card">
						<div class="card">
							<div class="card-body">
								<p class="card-title">
									<span>Hệ điều hành</span>
									<span style="float: right;">
                        <a th:href="@{/admin/products/add}" href="addProduct.html" class="btn btn-primary btn-rounded btn-fw">
                          Thêm sản phẩm
                        </a>
                      </span>
								</p>
								
								<div class="table-responsive">
									<table id="recent-purchases-listing" class="table">
										<thead>
										<tr>
											<th style="width: 100px;">ID</th>
											<th>Tên</th>
											<th>Sản phẩm</th>
											<th>Màu</th>
											<th>Giá</th>
											<th>Số lượng</th>
											<th style="width: 60px;"></th>
											<th style="width: 40px;"></th>
										</tr>
										</thead>
										<tbody>
										<th:block th:each="product : ${productList}">
											<tr>
												<td th:text="${product.getId()}"></td>
												<td th:text="${product.getName()}"></td>
												<td th:text="${product.getCategory().getName()}"></td>
												<td th:text="${product.getColor()}"></td>
												<td th:text="${product.getPrice()}"></td>
												<td th:text="${product.getQuantity()}"></td>
												<td><a style="padding: 6px 12px !important;" class="btn btn-secondary btn-rounded btn-fw" th:href="@{/admin/products/edit/{id}(id = ${product.getId()})}">Cập nhật</a></td>
												<td><a style="padding: 6px 12px !important;" class="btn btn-danger btn-rounded btn-fw" th:href="@{/admin/products/delete/{id}(id = ${product.getId()})}">Xóa</a></td>
											</tr>
										</th:block>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- content-wrapper ends -->
			<!-- partial:partials/_footer.html -->
			<footer class="footer">
				<div class="d-sm-flex justify-content-center justify-content-sm-between">
              <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Copyright © 2022
                <a href="https://www.facebook.com/tung.buivan.sfer.11235/" target="_blank">Tungsfer</a>.
                All rights
                reserved.</span>
					<span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Hand-crafted & made
                with <i class="mdi mdi-heart text-danger"></i></span>
				</div>
			</footer>
			<!-- partial -->
		</div>
		<!-- main-panel ends -->
	</div>
	<!-- page-body-wrapper ends -->
</div>
<!-- container-scroller -->

<!-- plugins:js -->
<script th:src="@{/adminvendors/base/vendor.bundle.base.js}"
        src="../../static/adminvendors/base/vendor.bundle.base.js"></script>
<!-- endinject -->
<!-- Plugin js for this page-->
<script th:src="@{/adminvendors/chart.js/Chart.min.js}"
        src="../../static/adminvendors/chart.js/Chart.min.js"></script>
<script th:src="@{/adminvendors/datatables.net/jquery.dataTables.js}"
        src="../../static/adminvendors/datatables.net/jquery.dataTables.js"></script>
<script th:src="@{/adminvendors/datatables.net-bs4/dataTables.bootstrap4.js}"
        src="../../static/adminvendors/datatables.net-bs4/dataTables.bootstrap4.js"></script>
<!-- End plugin js for this page-->
<!-- inject:js -->
<script th:src="@{/adminjs/off-canvas.js}" src="../../static/adminjs/off-canvas.js"></script>
<script th:src="@{/adminjs/hoverable-collapse.js}" src="../../static/adminjs/hoverable-collapse.js"></script>
<script th:src="@{/adminjs/template.js}" src="../../static/adminjs/template.js"></script>
<!-- endinject -->
<!-- Custom js for this page-->
<script th:src="@{/adminjs/dashboard.js}" src="../../static/adminjs/dashboard.js"></script>
<script th:src="@{/adminjs/data-table.js}" src="../../static/adminjs/data-table.js"></script>
<script th:src="@{/adminjs/jquery.dataTables.js}" src="../../static/adminjs/jquery.dataTables.js"></script>
<script th:src="@{/adminjs/dataTables.bootstrap4.js}" src="../../static/adminjs/dataTables.bootstrap4.js"></script>
<script th:src="@{/adminjs/file-upload.js}" src="../../static/adminjs/file-upload.js"></script>
<script th:src="@{/js/jquery-1.12.1.min.js}" src="../../static/js/jquery-1.12.1.min.js"></script>
<script th:src="@{/js/test.js}" src="../../static/js/test.js"></script>
<!-- End custom js for this page-->

</body>

</html>